/* Resets */
body {
  background-color: #1c1c1c;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */
header {
  height: 15vh;
  background-color: #fff;
  color: #1c1c1c;
}

main {
  height: 15vh;
}
