/* Resets */
body {
  background-color: #0e0e0e;
  padding: 0.7rem 0 0.7rem 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

/* Container custom */
.container-custom {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-custom {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-custom {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-custom {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .container-custom {
    max-width: 900px;
  }
}

@media (min-width: 1400px) {
  .container-custom {
    max-width: 1050px;
  }
}

/* Header */
.page-header {
  background-color: #fff;
  color: #505050;
}

.page-header img {
  scale: 0.6;
}

.page-header a {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.page-header li:hover {
  color: #0282f9;
}

.active {
  color: #0282f9;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 100%;
  height: 4px;
  background-color: #0282f9;
}

/* Main */
main {
  background-color: #1c1c1c;
}

main > .jumbo-section {
  height: 40vh;
  overflow: hidden;
}

.comics-section h2 {
  background-color: #0282f9;
  letter-spacing: -1px;
  translate: 0 -50%;
}

.comics-section .img-container {
  aspect-ratio: 1;
  overflow: hidden;
}

.comics-section .btn {
  background-color: #0282f9;
  letter-spacing: -1px;
  font-size: 0.6rem;
  border-radius: 0;
}

/* Footer */
/* footer-nav */
.footer-nav {
  background-color: #0282f9;
  position: relative;
  z-index: 2;
  padding: 2.2rem 0 2.2rem 0;
}

.footer-nav a {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 0.7rem;
}

.footer-nav img {
  height: 45px;
  max-width: 45px;
}

/* footer-links */
.footer-links {
  background-image: url("src/assets/img/footer-bg.jpg");
  background-size: cover;
  position: relative;
  padding: 2rem 0 3rem 0;
}

.footer-links h6 {
  font-weight: 700;
  letter-spacing: -1px;
}

.footer-links li {
  color: #9d9d9d;
  font-size: 0.6rem;
  margin-bottom: 0.1rem;
}

.footer-links .background-logo {
  position: absolute;
  top: -130px;
  right: 180px;
  scale: 0.8;
  z-index: 1;
}

/* social-section */
.social-section {
  background-color: #303030;
  position: relative;
  z-index: 2;
}

.social-section .btn {
  border: 2px solid #0282f9;
  border-radius: 0;
  font-size: 0.9rem;
}

.social-section span {
  color: #0282f9;
  font-weight: 700;
  letter-spacing: -1px;
  margin-right: 0.4rem;
}

.social-section img {
  width: 30px;
}
